body {
  background-color: ivory;
}

.canvas {
  border: 1px dotted black;
  background-color: ivory;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#canvas-draft {
  background-color: transparent;
}
body {
  overflow: hidden;
}
#canvas-container {
  height: 500px;
}
