body {
  background-color: ivory;
}

.canvas {
  border: 1px dotted black;
  /* background-color: ivory; dont add background into canvas*/
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#canvas-draft {
  background-color: transparent;
}
body {
  overflow: hidden;
}
#canvas-container {
  height: 500px;
}

#canvas-background {
  z-index: 1;
}

#preview-canvas {
  z-index: 2;
}

#canvas-real,
#canvas-draft {
  z-index: 3;
}
