body {
  background-color: #f1f2f2;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
}

.topnav {
  width: 100%;
  background-color: #8d69f9;
  overflow: hidden;
  z-index: 10;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.banner {
  background: url("../img/7861.jpg") no-repeat center center;
  background-size: cover;
  background-color: #e2e2e2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.sub-title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.get-start {
  color: #8d69f9;
  font-family: sans-serif;
  text-align: center;
  background-color: #ffffff;
  padding: 7px 15px 7px 15px;
  border-radius: 300px;
  border-color: #ffffff;
  font-size: 2vh;
  font-weight: 800;
  margin-top: 5vh;
}

.canvas {
  border: 1px dotted black;
  /* background-color: ivory; dont add background into canvas*/
  position: absolute;
  /* top: 333px;
  bottom: 0px;
  left: 0px;
  right: 0px; */
}

#canvas-draft {
  background-color: transparent;
}

#canvas-container {
  height: 645.5px;
}

#canvas-background {
  background-color: white;
  z-index: 1;
}

#preview-canvas {
  z-index: 2;
}

#canvas-real,
#canvas-draft {
  z-index: 3;
}

#textInput {
  display: none;
  position: absolute;
  z-index: 5;
  background-color: transparent;
  background-image: none;
  border: 1px dotted gray;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: none;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
}

.item {
  border: none;
  display: flex;
  align-items: center;
}

#outter_container {
  margin: 0px;
  background: #7950f5;
  border: none;
  border-radius: 0;
}

#button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  background: #7950f5;
  border: 0;
  border-radius: 0;
  height: 84px;
  z-index: 11;
}

#button_vcontainer {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  background: #8d69f9;
  border: 0;
  border-radius: 0;
  width: 94px;
  z-index: 9;
}

#footer-box {
  height: 150px;
  margin-top: 75px;
}

footer {
  background: #212122;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.footer-margin {
  width: 1140px;
  margin: 30px auto;
  line-height: 100px;
}

#footer-left {
  text-align: left;
}

.footer-margin .copyright {
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
  width: 100%;
  text-align: center;
  float: left;
}

.footer-margin .social-footer {
  color: #8d69f9;
  letter-spacing: 1px;
  font-size: 13px;
  width: 100%;
  text-align: center;
  float: left;
}

.footer-margin .social-footer a {
  font-size: 15px;
  color: white;
  padding: 20px;
}

.footer-margin .social-footer a:hover {
  color: #d2c4fc;
}
